*/ {
  margin: 0;
  box-sizing: border-box;
}

.n {
  background-color: #f7ecde;
}

::selection {
  background-color: #fec260;
  color: #352e28;
}
.heaaad{
  font-family: "Pacifico", serif;
  font-size: 50px;
}
.kht{
border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
  }
.byfs{
 
  font-size: 40px ;
  font-weight: 800;
}    

.iconss{
  background-image: linear-gradient(rgba(15, 195, 15, 0.634),rgba(195, 208, 13, 0.667));

}


